"Tensor Flow/cats-dogs-classifier-cnn/Models/1x128-conv-1-dense-1712387234/variables/variables.data-00000-of-00001" 
"Tensor Flow/cats-dogs-classifier-cnn/Models/1x128-conv-2-dense-1712387611/variables/variables.data-00000-of-00001" 
